{% extends 'base.html.twig' %}

{% block title %}Hello FilmsController!{% endblock %}

{% block body %}

<h1>Liste des films ({{ films | length }} films)</h1>

<ul>
    {% for film in films %}
        <li> {{ film.titre }} </li>
    {% else %}
        <li> Aucuns films dans la base </li>
    {% endfor %}
</ul>

{% endblock %}
